<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="" type="image/icon">
  <link rel="stylesheet" href="../../assets/css/style.css">
  <title>Moneytolia Case</title>
</head>

<body class="landing-page">
  <!--  Header Section-->
  <header id="header">
    <div class="header-container">
      <div class="logo">
        <img src="../../assets/img/moneytolia-logo.svg" alt="Logo">
      </div>
      <nav class="nav">
        <ul>
          <li>
            <button class="js-login-button">
              Login
              <img src="../../assets/img/dollar.png" alt="money">
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!--  Header Section End -->

  <!--  Main Section-->
  <main class="landing-page">
    <img class="cover-image" src="../../assets/img/moneytolia-fly.png" alt="">
  </main>
  <!--  Main Section End-->

  <!-- Login Modal HTML -->
  <div class="modal-login js-modal-login">
    <div class="content js-modal-login-content scale-up-center">
      <div class="modal-login-header">
        <h5 class="modal-title">
          Sign in to Site
        </h5>
      </div>
      <div class="modal-login-body">
        <form class="js-login-form login-form">
          <div class="input-group">
            <label class="form-label">Username or email address</label>
            <input type="text" class="login-username js-login-username">
            <span class="js-username-error error">error</span>
          </div>
          <div class="input-group">
            <label class="form-label">Password</label>
            <input type="password" class="login-password js-login-password">
            <span class="js-password-error error">error</span>
          </div>
          <button type="submit" class="login-button">Sign in</button>
        </form>
      </div>
      <p class="contract">By clicking the sign up button, you agree to,<a href="kvkk.html" id="privacy-link"
          target="_blank" rel="nofollow"> our data Policy. </a> </p>
    </div>
  </div>
  <!-- Login Modal End HTML -->

  <script type="module" src="../../assets/js/landing-page/app.js"></script>
</body>

</html>