.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;

  .cover-image {
    height: 70%;
  }

  @include xl {
    .cover-image {
      height: 50%;
    }
  }

  @include sx {
    .cover-image {
      height: 30%;
    }
  }
  .modal-login {
    position: fixed;
    z-index: 11;
    inset: 0;
    justify-content: center;
    align-items: center;
    color: $white;
    display: none;

    &.active {
      display: flex;
    }

    .content {
      z-index: 1;
      width: 350px;
      padding: 40px 20px;
      background-color: $grey4;
      border-radius: 5px;

      @include md {
        width: 100%;
        border-radius: 0;
        top: 0;
        align-self: flex-start;
        margin-top: 100px;
      }

      .modal-login-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        h5 {
          font-size: 16px;
        }
      }

      .modal-login-body {
        .login-form {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;

          .input-group {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            margin-bottom: 10px;

            .error {
              visibility: hidden;
              opacity: 0;
              color: $red;
              font-size: 11px;
              margin-top: 5px;

              &.active {
                visibility: visible;
                opacity: 1;
              }
            }

            .form-label {
              padding-bottom: 3px;
              font-size: 14px;
            }

            input {
              height: 24px;
              border-radius: 3px;
              border: 1px solid $gold3;
              outline: none;
              padding-left: 10px;

              &.input-error {
                border-color: $red;
              }
            }
          }

          .login-button {
            width: 100%;
            height: 24px;
            border-radius: 3px;
            border: 1px solid $gold3;
            outline: none;
            margin-bottom: 15px;
            cursor: pointer;
            font-size: 14px;
            color: $grey7;
            margin-top: 10px;
            background-color: $gold4;

            &:active {
              position: relative;
              top: 1px;
            }
          }
        }
      }

      .contract {
        font-size: 12px;
        line-height: 16px;

        a {
          color: $gold2;
        }
      }
    }
  }
}
